@import "../../../fonts/style/_fonts.scss";

:root {
  --font: Vazir;
}

[dir="rtl"] {
  font-family: var(--font), "Roboto Slab", "Times New Roman", serif !important;
}

input,
span,
body,
label {
  font-family: var(--font), "Roboto", arial, sans-serif !important;
}
