@import "../../../fonts/style/_fonts.scss";

:root {
  --font: Vazir;
}

body {
  font-family: var(--font), arial, sans-serif !important;
}

:lang(fa) {
  font-family: var(--font), arial, sans-serif !important;
}

#contribute-target,
#source,
#source-is,
.gt-hl-layer {
  font-family: var(--font), arial, sans-serif !important;
}

#alt-input-text,
#contribute-target,
#result_box,
#source,
#source-is,
.goog-filterobsmenuitem,
.goog-menuitem,
.goog-tristatemenuitem,
.gt-hl-layer,
.ita-kd-menuitem {
  font-family: var(--font), arial, sans-serif !important;
}
