@import "../../../fonts/style/_fonts.scss";

:root {
  --font: Vazir;
}

html {
  body {
    font-family: var(--font), Vazir, roboto !important;
  }

  .iconLabel,
  input,
  textarea {
    font-family: var(--font), Vazir, roboto !important;
  }

  .btn {
    font-family: var(--font), Vazir, roboto !important;
  }

  .sidebar .block .block--title {
    font-family: var(--font), Vazir, roboto !important;
  }

  .sidebar .block .block-body {
    font-family: var(--font), Vazir, roboto !important;
  }

  .comments .responses-editor .responses-text .textarea {
    font-family: var(--font), Vazir, roboto !important;
  }

  .toggle-content {
    font-family: var(--font), Vazir, roboto !important;
  }
  .toggle-content .toggle--item > a,
  .toggle-content .toggle--item > form > button,
  .toggle-content .toggle--item[id] {
    font-family: var(--font), Vazir, roboto !important;
  }

  .post-stream .card-post .post-content .post--title {
    font-family: var(--font), Vazir, roboto !important;
  }
  .btn-like {
    font-family: var(--font), Vazir, roboto !important;
  }
  .body-createPost,
  .body-editPost {
    font-family: var(--font), Vazir, roboto !important;
  }
  .body-createPost .public-DraftStyleDefault-block,
  .body-createPost .public-DraftStyleDefault-ltr,
  .body-editPost .public-DraftStyleDefault-block,
  .body-editPost .public-DraftStyleDefault-ltr {
    font-family: var(--font), Vazir, roboto !important !important;
  }
  .body-createPost .public-DraftStyleDefault-rtl,
  .body-editPost .public-DraftStyleDefault-rtl {
    font-family: var(--font), Vazir, roboto !important;
  }
  .md-block-code .code-block--tools .cliboardMsg {
    font-family: var(--font), Vazir, roboto !important;
  }

  .md-editor-toolbar.md-editor-toolbar-edit-link
    .md-editor-toolbar-buttons
    > [class*="md-editor-toolbar-"] {
    font-family: var(--font), Vazir, roboto !important;
  }
  .splash-page button,
  .splash-page input {
    font-family: var(--font), Vazir, roboto !important;
  }
  .splash-page .splash--grid:nth-child(2) .splash--title {
    font-family: var(--font), Vazir, roboto !important;
  }
  .page-feed .section--title,
  .page-home .section--title {
    font-family: var(--font), Vazir, roboto !important;
  }
  .page-feed .section--subtitle,
  .page-home .section--subtitle {
    font-family: var(--font), Vazir, roboto !important;
  }
  .page-search .gsc-control-wrapper-cse [class*="gs-"] {
    font-family: var(--font), Vazir, roboto !important;
  }
  .stats-chart-buttons .button--chart {
    font-family: var(--font), Vazir, roboto !important;
  }
}
