@font-face {
  font-family: Vazir;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Vazir-WOL.woff")
    format("woff");
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Vazir-Bold-WOL.woff")
    format("woff");
  font-weight: bold;
}

@font-face {
  font-family: Samim;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Samim-WOL.woff")
    format("woff");
  font-weight: normal;
}

@font-face {
  font-family: Samim;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Samim-Bold-WOL.woff")
    format("woff");
  font-weight: bold;
}

@font-face {
  font-family: Tanha;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Tanha-WOL.woff")
    format("woff");
  font-weight: Normal;
}

@font-face {
  font-family: Shabnam;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Shabnam-WOL.woff")
    format("woff");
  font-weight: Normal;
}

@font-face {
  font-family: Shabnam;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Shabnam-Bold-WOL.woff")
    format("woff");
  font-weight: bold;
}

@font-face {
  font-family: Parastoo;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Parastoo-WOL.woff")
    format("woff");
  font-weight: Normal;
}

@font-face {
  font-family: Parastoo;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Parastoo-Bold-WOL.woff")
    format("woff");
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Sahel-WOL.woff")
    format("woff");
  font-weight: Normal;
}

@font-face {
  font-family: Sahel;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Sahel-Bold-WOL.woff")
    format("woff");
  font-weight: bold;
}

@font-face {
  font-family: Gandom;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Gandom-WOL.woff")
    format("woff");
  font-weight: Normal;
}

@font-face {
  font-family: Nahid;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Nahid-WOL.woff")
    format("woff");
  font-weight: Normal;
}

@font-face {
  font-family: Behdad;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Behdad-Regular.woff")
    format("woff");
  font-weight: Normal;
}

@font-face {
  font-family: Mikhak;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Mikhak-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: Mikhak;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/file/Mikhak-Bold.woff2")
    format("woff2");
  font-weight: bold;
}
