@import "../../../fonts/style/_fonts.scss";

:root {
  --font: Vazir;
}

[dir="rtl"] {
  font-family: var(--font), Arial, Helvetica, sans-serif !important;
}

body {
  font-family: var(--font), Arial, Helvetica, sans-serif !important;
}

.open_sans {
  font-family: var(--font), "Open Sans", "lucida grande", "Segoe UI", arial,
    verdana, "lucida sans unicode", tahoma, sans-serif !important;
}
