@import "../../../fonts/style/_fonts.scss";

:root {
  --font: Vazir;
}

html body {
  font-family: var(--font), Helvetica, Arial, sans-serif !important;
  &._-kb.mac {
    font-family: var(--font), Helvetica Neue, Helvetica, Arial, sans-serif !important;
  }
  &._-kb.apple {
    font-family: var(--font), system-ui, -apple-system, BlinkMacSystemFont,
      ".SFNSText-Regular", sans-serif !important;
  }
  &._-kb.segoe {
    font-family: var(--font), Segoe UI Historic, Segoe UI, Helvetica, Arial,
      sans-serif !important;
  }
  &._-kb.roboto {
    font-family: var(--font), Roboto, Helvetica, Arial, sans-serif !important;
  }
  button,
  input,
  label,
  select,
  td,
  textarea {
    font-family: var(--font), Helvetica, Arial, sans-serif !important;
  }

  div[dir="rtl"] {
    font-family: var(--font), Georgia, serif !important;
  }

  ._5s6c._5s6c,
  ._5s6c {
    font-family: var(--font), Georgia, serif !important;
    letter-spacing: normal;
  }
}
