@import "../../../fonts/style/_fonts.scss";

:root {
  --font: Vazir;
}

html body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  td,
  tr,
  pre,
  font,
  blockquote,
  small,
  center,
  span,
  a,
  div,
  strong {
    &.global-rtl {
      font-family: var(--font), sans-serif !important;
    }
  }
  &.global-rtl {
    font-family: var(--font), sans-serif !important;
  }
}
