@import "../../../fonts/style/_fonts.scss";

:root {
  --font: Vazir;
}

html body {
  font-family: var(--font), "Lato", "Geneva CY", "Lucida Grande",
    "Arial Unicode MS", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

html #wunderlist-base [type="text"],
html #wunderlist-base [type="email"],
html #wunderlist-base [type="password"],
html #wunderlist-base .input-fake {
  font-family: var(--font), "Lato", "Geneva CY", "Lucida Grande",
    "Arial Unicode MS", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}
