@import "../../../fonts/style/_fonts.scss";

:root {
  --font: Vazir;
}

body {
  font-family: var(--font), "Open Sans", "Lucida Grande", "Lucida Sans Unicode",
    Arial, Helvetica, Verdana, sans-serif !important;
  line-height: 1.7 !important;
}

body.non_osx {
  font: 12px/18px var(--font), Tahoma, sans-serif, Arial, Helvetica !important;
}
