@import "../../../fonts/style/_fonts.scss";

:root {
  --font: Vazir;
}

* {
  font-family: var(--font), "Crisp Proxima Nova Regular",sans-serif !important;
}

.c-digyot span {
  direction: rtl;
  text-align: right !important;
  line-height: 160%;
}
