@import "../../../fonts/style/_fonts.scss";

:root {
  --font: Vazir;
}

.fonttools-rtl {
  font-family: var(--font), "Merriweather", "Georgia", serif !important;
}

#description,
.bookAuthorProfile__about,
.reviewText,
.aboutAuthorInfo,
.quoteText,
.questionText,
.updateBodyAfterImage,
.description,
.storyText {
  &.fonttools-rtl {
    direction: rtl !important;
    text-align: right !important;
  }
}

.u-defaultType,
input[type="text"] {
  font-family: var(--font), "Lato", "Helvetica Neue", "Helvetica", sans-serif !important;
}

.bigText {
  font-family: var(--font), "Merriweather", "Georgia", serif !important;
}

.elementList {
  font-family: var(--font), "Lato", "Helvetica Neue", "Helvetica", sans-serif !important;
}

.bookLink {
  font-family: var(--font), "Merriweather", Georgia, "Times New Roman", serif !important;
}

input[type="text"],
input[type="search"],
textarea {
  font-family: var(--font), "Lato", "Helvetica Neue", "Helvetica", sans-serif !important;
}

.storyTitle {
  font-family: var(--font), "Merriweather", "Georgia", serif !important;
}
