@import "../../../fonts/style/_fonts.scss";

:root {
  --font: Vazir;
}

html body {
  font-family: var(--font), "Lato", "Geneva CY", "Lucida Grande",
    "Arial Unicode MS", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}
div,
span {
  font-family: var(--font), Roboto, arial, sans-serif !important;
}
