@import "../../../fonts/style/_fonts.scss";

:root {
  --font: Vazir;
}

body {
  font-family: var(--font), Tahoma, "Iranian Sans", "DejaVu Sans",
    "Noto Sans Arabic", "Noto Kufi Arabic", "Droid Arabic Kufi", sans-serif !important;
  *[style] {
    font-family: var(--font), Tahoma, "Iranian Sans", "DejaVu Sans",
      "Noto Sans Arabic", "Noto Kufi Arabic", "Droid Arabic Kufi", sans-serif !important;
  }

  div#content h1,
  div#content h2,
  div#content #firstHeading,
  div#content .mw-editsection,
  .mw-body .mw-editsection-like,
  div#content #toc h2,
  div#content .toc h2,
  #template-documentation,
  #documentation-meta-data,
  *:lang(fa),
  #bodyContent .mw-number-text h3 {
    font-family: var(--font), Tahoma, "Iranian Sans", "DejaVu Sans",
      "Noto Sans Arabic", "Noto Kufi Arabic", "Droid Arabic Kufi", sans-serif !important;
  }
}
