:root {
  --fontara-gemini-google-sans-flex-ui-fallback: "Google Sans Flex",
    "Google Sans", "Helvetica Neue", sans-serif;
  --fontara-gemini-roboto-ui-fallback: Roboto, Arial, sans-serif;
  --fontara-gemini-google-sans-text-ui-fallback: "Google Sans Text", Roboto,
    Helvetica, Arial, sans-serif;
  --fontara-gemini-material-text-button-fallback: var(
    --mat-button-text-label-text-font,
    var(--mat-sys-label-large-font)
  );
  --fontara-gemini-material-filled-button-fallback: var(
    --mat-button-filled-label-text-font,
    var(--mat-sys-label-large-font)
  );
  --fontara-gemini-material-list-primary-fallback: var(
    --mat-list-list-item-label-text-font,
    var(--mat-sys-body-large-font)
  );
  --fontara-gemini-material-list-meta-fallback: var(
    --mat-list-list-item-trailing-supporting-text-font,
    var(--mat-sys-label-small-font)
  );
}

.actions-container-v2 .buttons-container-v2 .menu-button-wrapper,
.gds-body-l,
.gds-body-m,
.gds-body-s,
.gds-label-l,
.gds-title-l-emphasized,
.markdown-main-panel,
.markdown,
.ql-container,
rich-textarea .ql-editor.ql-blank::before {
  font-family: var(--fontara-font),
    var(--fontara-gemini-google-sans-flex-ui-fallback) !important;
}

.gb_Eb {
  font-family: var(--fontara-font),
    var(--fontara-gemini-roboto-ui-fallback) !important;
}

.gb_Jd {
  font-family: var(--fontara-font),
    var(--fontara-gemini-google-sans-text-ui-fallback) !important;
}

.mat-mdc-button {
  font-family: var(--fontara-font),
    var(--fontara-gemini-material-text-button-fallback) !important;
}

.mat-mdc-unelevated-button {
  font-family: var(--fontara-font),
    var(--fontara-gemini-material-filled-button-fallback) !important;
}

.mdc-list-item__primary-text {
  font-family: var(--fontara-font),
    var(--fontara-gemini-material-list-primary-fallback) !important;
}

.mdc-list-item--with-trailing-meta .mdc-list-item__end {
  font-family: var(--fontara-font),
    var(--fontara-gemini-material-list-meta-fallback) !important;
}
