:root {
  --fontara-google-arial-ui-fallback: Arial, sans-serif;
  --fontara-google-sans-ui-fallback: "Google Sans", Arial, sans-serif;
}

:where(
  p,
  span,
  div,
  mark,
  a,
  h1, h2, h3, h4, h5, h6,
  li,
  label,
  button,
  input,
  textarea,
  select,
  option,
  em,
  strong,
  b,
  i,
  small,
  time,
  cite,
  q,
  blockquote,
  figcaption,
  summary,
  dt, dd,
  th, td, caption,
  legend,
  [role="heading"],
  [role="button"],
  [role="menuitem"],
  [role="option"],
  [role="tab"]
):not(
  pre,
  pre *,
  code,
  code *,
  [aria-hidden="true"],
  [class*="fa-"],
  .fa,
  .fab,
  .fad,
  .fal,
  .far,
  .fas,
  .fass,
  .fasr,
  .fat,
  .icofont,
  [style*="font-"],
  [class*="icon"],
  [class*="Icon"],
  [class*="symbol"],
  [class*="Symbol"],
  .glyphicon,
  [class*="material-symbol"],
  [class*="material-icon"],
  mu,
  [class*="mu-"],
  .typcn,
  [class*="vjs-"]
) {
  font-family: var(--fontara-font), var(--fontara-google-sans-ui-fallback) !important;
}
