@font-face {
  font-family: 'fontara';
  src:  url('fonts/fontara.eot?q5v3ke');
  src:  url('fonts/fontara.eot?q5v3ke#iefix') format('embedded-opentype'),
    url('fonts/fontara.ttf?q5v3ke') format('truetype'),
    url('fonts/fontara.woff?q5v3ke') format('woff'),
    url('fonts/fontara.svg?q5v3ke#fontara') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontara' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-square:before {
  content: "\e90a";
}
.icon-heart:before {
  content: "\e907";
}
.icon-external-link-square:before {
  content: "\e909";
}
.icon-github-square:before {
  content: "\e908";
}
.icon-linkedin-square:before {
  content: "\e906";
}
.icon-twitter-square:before {
  content: "\e900";
}
.icon-circle:before {
  content: "\e901";
}
.icon-round-add-button:before {
  content: "\e902";
}
.icon-round-done-button:before {
  content: "\e903";
}
.icon-chevron-up:before {
  content: "\e904";
}
.icon-chevron-down:before {
  content: "\e905";
}
