@import "../../fonts/style/fonts";

body {
  background: #fff;
  width: 320px;
  font-size: 12px;
  font-family: shabnam, sans-serif;
  margin: 0 !important;
  overflow: hidden;
  main {
    padding: 20px 20px 10px 20px;
    overflow-x: hidden;
  }
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.choices__list--dropdown .choices__item--selectable {
  padding: 6px 14px 6px 100px;
  &:after {
    content: attr(data-select-text);
    font-family: vazir;
    font-size: 11px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

[dir="rtl"] {
  .choices__list--dropdown .choices__item--selectable {
    text-align: right;
    &:after {
      right: auto;
      left: 75px;
    }
  }
  .choices__group {
    text-align: right;
  }
}

.choices__item--selectable:after {
  font-family: vazir;
}

[data-id="custom-font"] ~ div {
  &:after {
    display: none;
  }
  padding-left: 10px !important;
}

[data-value="Vazir"] {
  font-family: Vazir;
  &:after {
    font-family: Vazir !important;
  }
}

[data-value="Samim"] {
  font-family: Samim;
  &:after {
    font-family: Samim !important;
  }
}

[data-value="Shabnam"] {
  font-family: Shabnam;
  &:after {
    font-family: Shabnam !important;
  }
}

[data-value="Tanha"] {
  font-family: Tanha;
  &:after {
    font-family: Tanha !important;
  }
}

[data-value="Sahel"] {
  font-family: Sahel;
  &:after {
    font-family: Sahel !important;
  }
}

[data-value="Gandom"] {
  font-family: Gandom;
  &:after {
    font-family: Gandom !important;
  }
}

[data-value="Parastoo"] {
  font-family: Parastoo;
  &:after {
    font-family: Parastoo !important;
  }
}

[data-value="Mikhak"] {
  font-family: Mikhak;
  &:after {
    font-family: Mikhak !important;
  }
}

[data-value="Behdad"] {
  font-family: Behdad;
  &:after {
    font-family: Behdad !important;
  }
}

[data-value="Estedad"] {
  font-family: Estedad;
  &:after {
    font-family: Estedad !important;
  }
}

[data-value="Nika"] {
  font-family: Nika;
  &:after {
    font-family: Nika !important;
  }
}

[data-value="GanjNamehSans"] {
  font-family: GanjNamehSans;
  &:after {
    font-family: GanjNamehSans !important;
  }
}

.select-font {
  position: relative;
  .choices__inner > .choices__list > .choices__item--selectable {
    width: 139px;
    height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .choices__list--dropdown.is-active {
    z-index: 999;
  }
}

.icons {
  font-size: 0px;
  margin-bottom: 5px;
}

footer {
  background: #f9f9f9;
  clear: both;
}

.creator {
  text-align: center;
  padding: 19px 0px;
  font-weight: bold;
  color: #828282;
  -webkit-font-smoothing: antialiased;
  > a {
    color: #555;
    text-decoration: none;
    &:hover {
      color: #000000;
    }
  }
  .social {
    padding-top: 12px;
    a {
      text-decoration: none;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0px 4px;
      font-size: 19px;
      color: #ccc;
      &:hover {
        color: #9e9e9e;
      }
    }
  }
}

.selected-item {
  color: #2374ff;
  &:before {
    content: "\e903" !important;
    font-family: "fontara";
    position: absolute;
    left: 17px;
    top: 11px;
    opacity: 1 !important;
    color: #2374ff;
  }
}

.choices__list--dropdown {
  .choices__item--choice.is-highlighted:before {
    content: "\e901";
    font-family: "fontara";
    position: absolute;
    left: 17px;
    top: 11px;
    opacity: 0.3;
  }
  .choices__item--selectable.is-highlighted {
    background-color: #f9f9f9;
  }
}

.choices {
  margin-bottom: 10px !important;
}

.choices__heading {
  color: #9d9d9d;
  -webkit-font-smoothing: antialiased;
  border: none;
  padding: 6px 14px 6px 10px;
}

a {
  text-decoration: none;
}

.choices[data-type*="select-one"].is-open:before {
  content: "";
  opacity: 0.3;
  background: #000000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#optionpage {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.2px;
  background: #edf3fd;
  border-radius: 3px;
  font-size: 13px;
  color: #2374ff;
  text-align: center;
  padding: 9px;
  position: relative;
  span {
    font-weight: bold;
    vertical-align: middle;
    font-size: 15px;
    position: absolute;
    right: 64px;
    top: 10px;
  }
  &:hover {
    transition: background-color 0.2s ease-in-out;
    background: #dee7f5;
  }
}

.choices[data-type*="select-one"].is-open {
  margin-bottom: 61px !important;
}

.choices[data-type*="select-one"].is-open + #optionpage {
  padding: 9px;
  color: #fff;
  font-size: 13px;
  position: fixed;
  width: 280px;
  top: 416px;
  background: #2374ff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 7px 0 rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  z-index: 3;
  &:hover {
    color: #fff;
    background-color: #1e65df;
    transition: background-color 0.2s ease-in-out;
  }
}

.choices__item + .choices__group {
  padding-top: 3px;
}

.choices__inner {
  background: #ffffff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 7px 0 rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  font-family: Vazir;
  font-size: 15px;
  color: #2b2b2b;
  text-align: right;
  border: none;
  transition: box-shadow 0.09s ease-in-out;
  padding: 6.5px !important;
  &:hover {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
      0 4px 7px 0 rgba(0, 0, 0, 0.14);
  }
}

.choices[data-type*="select-one"]:after {
  content: "\e905";
  font-family: "fontara";
  height: auto;
  width: auto;
  border: none;
  top: 18px;
}

.choices[data-type*="select-one"].is-open:after {
  content: "\e904";
  margin-top: 0;
  z-index: 5;
  top: 15px;
}

.is-open .choices__list--dropdown {
  border-color: #e0e0e0;
}

.choices__list--dropdown {
  border: none;
  border-top: 1px solid;
}

.choices__list--dropdown {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.is-open .choices__inner {
  z-index: 3;
  position: relative;
}

[class*="hint--"]:after {
  text-shadow: none;
  box-shadow: none;
}

[class*="hint--"]:after,
[class*="hint--"]:before {
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease;
}

.icons {
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    background-size: 46px 46px;
    width: 46px;
    height: 46px;
    border-radius: 3px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }

  input[type="checkbox"] + label:nth-child(5n) {
    margin-left: 5px !important;
  }

  input[type="checkbox"] + label:nth-child(5n + 2) {
    margin-right: 5px !important;
  }

  input[type="checkbox"]:checked + label {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.08),
      0 3px 7px 0 rgba(0, 0, 0, 0.09);

    &:hover {
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.1),
        0 6px 17px 0 rgba(0, 0, 0, 0.23);
    }
  }

  input[type="checkbox"] + label {
    &[for="twitter"] {
      background-image: url(/images/twitter-deactive.png);
    }
    &[for="facebook"] {
      background-image: url(/images/facebook-deactive.png);
    }
    &[for="linkedin"] {
      background-image: url(/images/linkedin-deactive.png);
    }
    &[for="gmail"] {
      background-image: url(/images/gmail-deactive.png);
    }
    &[for="instagram"] {
      background-image: url(/images/instagram-deactive.png);
    }
    &[for="google"] {
      background-image: url(/images/google-deactive.png);
    }
    &[for="googleplus"] {
      background-image: url(/images/googleplus-deactive.png);
    }
    &[for="medium"] {
      background-image: url(/images/medium-deactive.png);
    }
    &[for="getpocket"] {
      background-image: url(/images/getpocket-deactive.png);
    }
    &[for="slack"] {
      background-image: url(/images/slack-deactive.png);
    }
    &[for="telegram"] {
      background-image: url(/images/telegram-deactive.png);
    }
    &[for="trello"] {
      background-image: url(/images/trello-deactive.png);
    }
    &[for="whatsapp"] {
      background-image: url(/images/whatsapp-deactive.png);
    }
    &[for="wikipedia"] {
      background-image: url(/images/wikipedia-deactive.png);
    }
    &[for="youtube"] {
      background-image: url(/images/youtube-deactive.png);
    }
    &[for="paperdropbox"] {
      background-image: url(/images/paperdropbox-deactive.png);
    }
    &[for="inoreader"] {
      background-image: url(/images/inoreader-deactive.png);
    }
    &[for="feedly"] {
      background-image: url(/images/feedly-deactive.png);
    }
    &[for="goodreads"] {
      background-image: url(/images/goodreads-deactive.png);
    }
    &[for="github"] {
      background-image: url(/images/github-deactive.png);
    }
    &[for="virgool"] {
      background-image: url(/images/virgool-deactive.png);
    }
    &[for="duckduckgo"] {
      background-image: url(/images/duckduckgo-deactive.png);
    }
    &[for="messagesandroid"] {
      background-image: url(/images/messagesandroid-deactive.png);
    }
    &[for="wordpress"] {
      background-image: url(/images/wordpress-deactive.png);
    }
    &[for="crisp"] {
      background-image: url(/images/crisp-deactive.png);
    }
  }

  input[type="checkbox"]:checked + label {
    &[for="twitter"] {
      background-image: url(/images/twitter-active.png);
    }
    &[for="facebook"] {
      background-image: url(/images/facebook-active.png);
    }
    &[for="linkedin"] {
      background-image: url(/images/linkedin-active.png);
    }
    &[for="gmail"] {
      background-image: url(/images/gmail-active.png);
    }
    &[for="instagram"] {
      background-image: url(/images/instagram-active.png);
    }
    &[for="google"] {
      background-image: url(/images/google-active.png);
    }
    &[for="googleplus"] {
      background-image: url(/images/googleplus-active.png);
    }
    &[for="medium"] {
      background-image: url(/images/medium-active.png);
    }
    &[for="getpocket"] {
      background-image: url(/images/getpocket-active.png);
    }
    &[for="slack"] {
      background-image: url(/images/slack-active.png);
    }
    &[for="telegram"] {
      background-image: url(/images/telegram-active.png);
    }
    &[for="trello"] {
      background-image: url(/images/trello-active.png);
    }
    &[for="whatsapp"] {
      background-image: url(/images/whatsapp-active.png);
    }
    &[for="wikipedia"] {
      background-image: url(/images/wikipedia-active.png);
    }
    &[for="youtube"] {
      background-image: url(/images/youtube-active.png);
    }
    &[for="paperdropbox"] {
      background-image: url(/images/paperdropbox-active.png);
    }
    &[for="inoreader"] {
      background-image: url(/images/inoreader-active.png);
    }
    &[for="feedly"] {
      background-image: url(/images/feedly-active.png);
    }
    &[for="goodreads"] {
      background-image: url(/images/goodreads-active.png);
    }
    &[for="github"] {
      background-image: url(/images/github-active.png);
    }
    &[for="virgool"] {
      background-image: url(/images/virgool-active.png);
    }
    &[for="duckduckgo"] {
      background-image: url(/images/duckduckgo-active.png);
    }
    &[for="messagesandroid"] {
      background-image: url(/images/messagesandroid-active.png);
    }
    &[for="wordpress"] {
      background-image: url(/images/wordpress-active.png);
    }
    &[for="crisp"] {
      background-image: url(/images/crisp-active.png);
    }
  }
}

.icons::selection {
  color: #fff;
}

.icons::-moz-selection {
  color: #fff;
}

.choices__list--dropdown .choices__list {
  max-height: 346px;
}

span.icon-heart {
  color: #ff1546;
  vertical-align: middle;
  font-size: 10px;
  padding: 0 2px;
}

.global-section {
  display: block;
  clear: both;
  border: 1.5px solid #e3e3e3;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  padding: 7.5px 14px 7.5px 0;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .global-fav {
    width: 12px;
    vertical-align: middle;
    margin: 0 2px;
  }
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 22px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }

  input[type="checkbox"]:checked + label {
    &[for="global"] {
      background-image: url(/images/global-active.png);
    }
  }

  input[type="checkbox"] + label {
    &[for="global"] {
      background-image: url(/images/global-deactive.png);
    }
  }
}

.donate-section {
  a {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    //color: #fb6021;
    padding: 7px;
    //background: #ffece3;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    border-radius: 3px;
    background: #E91E63;
    color: #fdedf1;
    &:hover {
      background: #e6004e;
    }
    &:after {
      font-family: shabnam;
      font-size: 10px;
    }
    .icon-Icon {
      vertical-align: middle;
      font-size: 15px;
    }
  }

  .coffe {
    height: 13px !important;
    width: 20px !important;
    vertical-align: middle;
  }
}
