@import "../../fonts/style/fonts";

body {
  background: #fff;
  width: 304px;
  padding: 15px;
  font-size: 12px;
  font-family: vazir, sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 100px;
}
.choices__list--dropdown .choices__item--selectable:after {
  content: attr(data-select-text);
  font-family: vazir;
  font-size: 11px;
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
[dir="rtl"] .choices__list--dropdown .choices__item--selectable {
  text-align: right;
  padding-left: 100px;
  padding-right: 10px;
}
[dir="rtl"] .choices__list--dropdown .choices__item--selectable:after {
  right: auto;
  left: 10px;
}

[dir="rtl"] .choices__group {
  text-align: right;
}

.choices__item--selectable:after {
  font-family: vazir;
}

[data-id="custom-font"] ~ div:after {
  display: none;
}

[data-id="custom-font"] ~ div {
  padding-left: 10px !important;
}

[data-value="Vazir"] {
  font-family: Vazir;
  &:after {
    font-family: Vazir !important;
  }
}

[data-value="Samim"] {
  font-family: Samim;
  &:after {
    font-family: Samim !important;
  }
}

[data-value="Shabnam"] {
  font-family: Shabnam;
  &:after {
    font-family: Shabnam !important;
  }
}
[data-value="Tanha"] {
  font-family: Tanha;
  &:after {
    font-family: Tanha !important;
  }
}
[data-value="Sahel"] {
  font-family: Sahel;
  &:after {
    font-family: Sahel !important;
  }
}
[data-value="Gandom"] {
  font-family: Gandom;
  &:after {
    font-family: Gandom !important;
  }
}
[data-value="Parastoo"] {
  font-family: Parastoo;
  &:after {
    font-family: Parastoo !important;
  }
}
[data-value="Mikhak"] {
  font-family: Mikhak;
  &:after {
    font-family: Mikhak !important;
  }
}
[data-value="Behdad"] {
  font-family: Behdad;
  &:after {
    font-family: Behdad !important;
  }
}
.pretty .state label:after,
.pretty .state label:before {
  right: 3px !important;
  top: 14px !important;
}

.pretty input ~ .state .logo {
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  margin-right: 22px;
}

.pretty input:not(:checked) ~ .state {
  .twitter-logo {
    background-image: url(/images/twitter.png);
  }
  .paperdropbox-logo {
    background-image: url(/images/paperdropbox.png);
  }
  .inoreader-logo {
    background-image: url(/images/inoreader.png);
  }
  .facebook-logo {
    background-image: url(/images/facebook.png);
  }
  .feedly-logo {
    background-image: url(/images/feedly.png);
  }
  .gmail-logo {
    background-image: url(/images/gmail.png);
  }
  .googleplus-logo {
    background-image: url(/images/googleplus.png);
  }
  .instagram-logo {
    background-image: url(/images/instagram.png);
  }
  .linkedin-logo {
    background-image: url(/images/linkedin.png);
  }
  .medium-logo {
    background-image: url(/images/medium.png);
  }
  .getpocket-logo {
    background-image: url(/images/getpocket.png);
  }
  .google-logo {
    background-image: url(/images/google.png);
  }
  .slack-logo {
    background-image: url(/images/slack.png);
  }
  .telegram-logo {
    background-image: url(/images/telegram.png);
  }
  .trello-logo {
    background-image: url(/images/trello.png);
  }
  .whatsapp-logo {
    background-image: url(/images/whatsapp.png);
  }
  .wikipedia-logo {
    background-image: url(/images/wikipedia.png);
  }
  .youtube-logo {
    background-image: url(/images/youtube.png);
  }
  .goodreads-logo {
    background-image: url(/images/goodreads.png);
  }
  .github-logo {
    background-image: url(/images/github.png);
  }
}

.pretty input:checked ~ .state {
  .twitter-logo {
    background-image: url(/images/twitter.png);
  }
  .paperdropbox-logo {
    background-image: url(/images/paperdropbox.png);
  }
  .inoreader-logo {
    background-image: url(/images/inoreader.png);
  }
  .facebook-logo {
    background-image: url(/images/facebook.png);
  }
  .feedly-logo {
    background-image: url(/images/feedly.png);
  }
  .gmail-logo {
    background-image: url(/images/gmail.png);
  }
  .googleplus-logo {
    background-image: url(/images/googleplus.png);
  }
  .instagram-logo {
    background-image: url(/images/instagram.png);
  }
  .linkedin-logo {
    background-image: url(/images/linkedin.png);
  }
  .medium-logo {
    background-image: url(/images/medium.png);
  }
  .getpocket-logo {
    background-image: url(/images/getpocket.png);
  }
  .google-logo {
    background-image: url(/images/google.png);
  }
  .slack-logo {
    background-image: url(/images/slack.png);
  }
  .telegram-logo {
    background-image: url(/images/telegram.png);
  }
  .trello-logo {
    background-image: url(/images/trello.png);
  }
  .whatsapp-logo {
    background-image: url(/images/whatsapp.png);
  }
  .wikipedia-logo {
    background-image: url(/images/wikipedia.png);
  }
  .youtube-logo {
    background-image: url(/images/youtube.png);
  }
  .goodreads-logo {
    background-image: url(/images/goodreads.png);
  }
  .github-logo {
    background-image: url(/images/github.png);
  }
}

.select-font {
  position: relative;
  .choices__inner,
  .choices__inner > .choices__list .choices__item--selectable {
    cursor: s-resize !important;
  }
  .choices__inner > .choices__list > .choices__item--selectable {
    width: 139px;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .choices.is-open {
    .choices__inner,
    .choices__inner > .choices__list .choices__item--selectable {
      cursor: n-resize !important;
    }
  }

  .choices__list--dropdown.is-active {
    z-index: 999;
  }

  #optionpage {
    position: absolute;
    left: 40px;
    top: 17px;
    text-decoration: none;
    color: #888;
    font-size: 10px;
    &:hover {
      animation-name: LinkTransition;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}

.icons {
  .pretty {
    margin-bottom: 15px;
  }
}

@keyframes LinkTransition {
  0% {
    color: #0099ff;
  }
  50% {
    color: #0ecfa9;
  }
}

.creator {
  text-align: center;
  border-top: 1px dashed #eee;
  margin-top: 10px;
  padding-top: 24px;
  > a {
    border-bottom: 2px solid;
    color: #666;
    text-decoration: none;
    font-weight: bold;
    animation-name: LinkTransition;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .social {
    padding-top: 10px;
    a {
      text-decoration: none;
      display: inline-block;
      margin: 5px 3px 0px;
      img {
        width: 22px;
      }
    }
  }
}
