@import "../../../fonts/style/_fonts.scss";

:root {
  --font: Vazir;
}

body {
  font-family: var(--font), "Helvetica Neue", Helvetica, Arial, sans-serif !important;

  .TwitterCard {
    font-family: var(--font), "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }
  .TweetTextSize,
  .tweet-text {
    &:lang(fa) {
      line-height: 1.7 !important;
    }
  }

  .QuoteTweet-text {
    max-height: 90px !important;
  }

  &:not(.rtl) {
    .stream-item-footer,
    .global-nav [role="navigation"] {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }
  }
  &.rtl {
    .ProfileTweet-actionCount {
      // line-height: 2;
    }
  }

  &.fa,
  &.ur,
  &.ar {
    font-family: var(--font), Tahoma, Arial, sans-serif !important;
    .TwitterCard {
      font-family: var(--font), Tahoma, Arial, sans-serif !important;
    }
  }
}

article * {
  font-family: var(--font), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif !important;

}

[lang="fa"][dir="auto"] {
  line-height: 1.7 !important;
}

[lang="ckb"][dir="auto"] {
  line-height: 1.7 !important;
}

[role="blockquote"] [lang="ckb"][dir="auto"] {
  line-height: 1.39 !important;
}

[role="blockquote"] [lang="fa"][dir="auto"] {
  line-height: 1.39 !important;
}

[class*="rn"] {
  font-family: var(--font), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif !important;
}
